In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load in the data
missing_values = ["n/a", "na", "--", "-", "NA"]
payroll = pd.read_csv("city_payroll.csv", na_values = missing_values)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
payroll.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2016,NaN,DISTRICT ATTORNEY-MANHATTAN,ABA'AHMID,RAHASHEEM,E,07/14/2003,MANHATTAN,COMMUNITY ASSOCIATE,ACTIVE,47678.0,per Annum,1830.00,47166.03,2.25,57.28,0.0
1,2016,NaN,DISTRICT ATTORNEY-MANHATTAN,ABENSUR,MARGARET,NaN,06/12/1995,MANHATTAN,ADMINISTRATIVE ACCOUNTANT,ACTIVE,119959.0,per Annum,1831.00,119042.50,0.00,0.00,0.0
2,2016,NaN,DISTRICT ATTORNEY-MANHATTAN,ABOUNAOUM,ANDREA,L,10/11/2011,MANHATTAN,COMMUNITY ASSOCIATE,ON LEAVE,39966.0,per Annum,1181.68,27452.62,1.00,21.34,33.0
3,2016,NaN,DISTRICT ATTORNEY-MANHATTAN,ABRAHAM,JONATHAN,J,12/01/2014,MANHATTAN,COMPUTER SYSTEMS MANAGER,ACTIVE,116000.0,per Annum,1831.00,115104.57,0.00,0.00,0.0
4,2016,NaN,DISTRICT ATTORNEY-MANHATTAN,ABRAMS,JOSEPH,NaN,05/21/2015,MANHATTAN,COLLEGE AIDE,CEASED,1.0,per Hour,0.00,3500.00,0.00,0.00,0.0

In [4]:
# number of instances in the original dataset which is pretty huge
payroll.shape

(3333096, 17)

In [5]:
# sample the data to make it more manageable
payroll_sample = payroll.sample(int(len(payroll) / 20))

In [6]:
print("Original Dataset Observation Count: " + str(len(payroll)))
print("Sampled Dataset Observation Count: " + str(len(payroll_sample)))

Original Dataset Observation Count: 3333096
Sampled Dataset Observation Count: 166654

In [7]:
# save sampled dataset
payroll_sample.to_csv("city_payroll_sample.csv")

In [8]:
# number of features
payroll_sample.shape[1]

17

In [9]:
# printing feature names
print("Feature Names: \n\n" + "\n".join(payroll_sample.columns))

Feature Names:

Fiscal Year
Payroll Number
Agency Name
Last Name
First Name
Mid Init
Agency Start Date
Work Location Borough
Title Description
Leave Status as of June 30
Base Salary
Pay Basis
Regular Hours
Regular Gross Paid
OT Hours
Total OT Paid
Total Other Pay

In [10]:
# data types
print("Datatypes: \n\n", payroll_sample.dtypes)

Datatypes:

 Fiscal Year                     int64
Payroll Number                float64
Agency Name                    object
Last Name                      object
First Name                     object
Mid Init                       object
Agency Start Date              object
Work Location Borough          object
Title Description              object
Leave Status as of June 30     object
Base Salary                   float64
Pay Basis                      object
Regular Hours                 float64
Regular Gross Paid            float64
OT Hours                      float64
Total OT Paid                 float64
Total Other Pay               float64
dtype: object

In [30]:
# converting Fiscal Year and Agency Start Date to Datetime64
payroll_sample["Fiscal Year"] = pd.to_datetime(payroll_sample["Fiscal Year"])
# payroll_sample["Agency Start Date"] = pd.to_datetime(payroll_sample["Agency Start Date"])

payroll_sample[""]
print("", payroll_sample.dtypes)

 Fiscal Year                   datetime64[ns]
Payroll Number                       float64
Agency Name                           object
Last Name                             object
First Name                            object
Mid Init                              object
Agency Start Date                     object
Work Location Borough                 object
Title Description                     object
Leave Status as of June 30            object
Base Salary                          float64
Pay Basis                             object
Regular Hours                        float64
Regular Gross Paid                   float64
OT Hours                             float64
Total OT Paid                        float64
Total Other Pay                      float64
dtype: object

In [29]:
# any missing values?
payroll_sample.isnull().values.any()

True

In [11]:
# missing values
payroll_sample.isnull().sum()

Fiscal Year                       0
Payroll Number                87528
Agency Name                       0
Last Name                        70
First Name                       73
Mid Init                      67640
Agency Start Date                 0
Work Location Borough         25221
Title Description                 6
Leave Status as of June 30        0
Base Salary                       0
Pay Basis                         0
Regular Hours                     0
Regular Gross Paid                0
OT Hours                          0
Total OT Paid                     0
Total Other Pay                   0
dtype: int64

In [14]:
# total number of missing values
payroll_sample.isnull().sum().sum()

180538

In [12]:
# any missing values?
payroll_sample.isnull().values.any()

True

In [ ]:
# counts of municipal employees
    # year-to-year
    # agency-to-agency
    # borough-to-borough

In [ ]:
# distributions of base pay
    # whole
    # by borough

In [ ]:
# distributions of actual pay
    # whole
    # by borough

In [ ]:
# hypothesis testing for actual pay

In [ ]:
# distributions of the difference between base pay and actual pay

In [ ]:
# distributions of overtime

In [ ]:
# bar graph of the pay of active and ceased employees

In [ ]:
# bar graph of pay basis

In [ ]:
# regular hours vs. base salary scatterplot

In [ ]:
# Pearson's R for regular hours vs base salary

In [ ]:
# agency start date vs. actual pay

In [ ]:
# double bar graph of base salary and regular gross paid 
    # by borough
    # by agency

In [ ]:
# swarm plot of borough vs. regular gross paid

In [ ]:
# swarm plot of fiscal year vs. regular gross paid

In [ ]:
# total hours (regular hours + OT Hours) vs regular gross paid

In [ ]:
# K-Nearest Neighbor Regressor with k = 5 to predict regular gross paid
    # manually compute for one random observation
    # create a 80/20 train-test split and utilize a k-nearest neighbor algorithm
        # compute mse and rmse
        # regular gross paid vs residuals